.md-header {
  background-color: #007D9C;
}

@media only screen and (max-width: 767px) {
  .md-nav--primary .md-nav__title[for=__drawer] {
    background-color: #007D9C;
    color: var(--md-primary-bg-color);
    font-weight: 700;
  }
}

@media screen and (max-width: 76.234375em) {
  .md-nav--primary .md-nav__title[for=__drawer] {
    background-color: #007D9C;
    color: var(--md-primary-bg-color);
    font-weight: 700;
  }
}